body {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, #000, #fff, #888);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 10000px; /* Used to enable scrolling */
    /* background: linear-gradient(55deg, #000000 0%, #ffffff 51%, #888888 85%); */
}
  
header img{
    text-align: center;
    width: 200px;
    height: 200px;
}

div {
    text-align: center;
}

h1 {
font-size: 2em;
}

p {
    font-size: 5.5em;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.contacts article {
    width: 25%;
    margin: 10px;
}

.contacts article img {
    width: 80px;
    height: 80px;
}

.contacts article h2 {
    font-size: 1.5em;
    text-align: center;
}

