body {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom, #000, #fff, #888);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  
header img{
    width: 200px;
    height: 200px;
    position: fixed;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    bottom: 0%;

}

.contacts article {
    width: 20%;
    margin: 15px;
    text-align: center;
}

.contacts article img {
    width: 30px;
    height: 30px;
    margin: 0 auto;

}

.contacts article h2 {
    font-size: 15px;
    margin-top: auto;
    text-align: center;
}
